@model Orgchart.Web.Models.JobTitle

<!DOCTYPE html>

<html>
    <head>
        <title>Create New Job Title</title>
    </head>
    <body>
        <div>
            @Html.LabelFor(_ => _.Description)
            @Html.EditorFor(_ => _.Description)
        </div>
    </body>
</html>