@model Orgchart.Web.Models.JobTitle

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Edit</title>
    </head>
    <body>
        <div>
            <input type="text" id="Description" name="Description"/>
            <input type="submit" value="Save"/>  
        </div>
    </body>
</html>