@{
    ViewBag.Title = "Systems in Motion Organization Chart: Home Page";
}

<div class="jumbotron">
    <h2>Welcome to the Systems in Motion Organizational Management Application.</h2>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Manage Job titles</h2>
        <p>
       
        </p>
       
        @Html.ActionLink("Go","Index", "JobTitles", null, new { @class = "btn btn-primary", @style = "color:white" })
        
    </div>

    <div class="col-md-4">
        <h2>Manage Employees</h2>
        <p>

        </p>

        @Html.ActionLink("Go", "Index", "Employee", null, new { @class = "btn btn-primary", @style = "color:white" })
    </div>
    <div class="col-md-4">
        <h2>Manage Departments</h2>
        <p>

        </p>

        @Html.ActionLink("Go", "Index", "Departments", null, new { @class = "btn btn-primary", @style = "color:white" })
    </div>
</div>