@{
    ViewBag.Title = "Systems in Motion Organization Chart: Home Page";
}

<div class="jumbotron">
    <h2>Welcome to the Systems in Motion Organizational Management Application.</h2>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Manage Job titles</h2>
        <p>
       
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Go to Manage Job Titles Page &raquo;</a></p>
    </div>
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
       
    </div>
</div>